# Cetakan Environment Variables (Aman untuk di-push ke GitHub)
# Jalankan perintah terminal di README untuk menduplikasi file ini menjadi .env

VITE_API_KEY=masukkan_api_key_anda_disini
VITE_CHATBOT_NAME=Ngalam_Online_Tour_Guide